<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>
   <body>
      <h1>hello are ter ret</h1>
      <% if(message != ""){ %>
      <div class="alert">Data berhasil di add</div>
      <% } %>
      <table>
         <th>id</th>
         <th>name</th>
         <th>age</th>
         <th>city</th>
         <th>email</th>
         <th>created AT</th>
         <th>action</th>
         <% customers.map((customer) => { %>
         <tr>
            <td><%= customer.id %></td>
            <td><%= customer.name %></td>
            <td><%= customer.age %></td>
            <td><%= customer.city %></td>
            <td><%= customer.email %></td>
            <td><%= customer.createdAt %></td>
            <td>
               <a href="/customers/edit/<%= customer.id %> ">
                  <button>edit customer</button>
               </a>
            </td>
            <td>
               <a href="/customers/edit/<%= customer.id %> ">
                  <button>edit customer</button>
               </a>
            </td>
         </tr>
         <% }) %>
      </table>
      <a href="/create">
         <button>add new cust</button>
      </a>
   </body>
</html>
